.footer {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    bottom: 0;
    width: 100%;
    background-color: var(--background) ;
    margin-top: 50px;
}

.footer h3 {
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--preto-escuro);
}