.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}

.inputBox {
    position: relative;
    width: 800px;
    margin-bottom: 50px;
    margin-right: 1em;
  }
  
  .inputBox input {
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 0 5px;
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 0 5px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
    text-align: center;
  }
  
  .inputBox input:focus ~ span {
    transform: translateY(-16px);
    font-size: 0.65em;
    color: rgba(0, 0, 0, 1);
    -webkit-background-clip: text; /* para navegadores baseados em Webkit */
    -moz-background-clip: text; /* para navegadores baseados em Mozilla */
    background-clip: text;  
    animation-name: anima;
    animation: 1s linear infinite;
    transform-origin: center;
    background-position: center;
    animation-direction: reverse;
  }
  
  @keyframes anima {
    0% {
      background-position: center;
    }
    100% {
      background-position: right;
    }
  }
  
  .inputBox i {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: var(--animation-links-after);
    animation: animate 2s linear infinite;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .inputBox i::before {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--animation-links-after);
    animation: animate 0.8s linear infinite;
    transition: 0.5s;
  }

.inputBox input:focus ~ i::before {
    left: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100%{
        background-position-x: 800px;
    }
}


h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 39.01px;
    color: var(--preto);
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    margin-left: 1em;
}

.imgIcone {
    width: 40px;
    margin-left: 10px;
    
}


.caixa_Container_Lista_Anime {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  
  
}

.caixaTagTodos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15em;
  width: 10%;
  height: 195px;
  border-right: 0.125rem solid var(--preto);
  
}


.tagTodos {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: var(--preto);
  cursor: pointer;
  
}

.container_animeLista{
    display: flex;
    align-items: center;
    text-align: center;
    width: 70%;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-right: 15em;
}





.caixaLista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.animeLista {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 1em;
    color: var(--preto);
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid var(--preto);
    padding: 0.5em;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
}

.animeLista:hover {
    transform: matrix(1, 0, 0, 1, 0, -5);
    scale: 0.8;
}


.containerCardsAnimes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 65px 80px 65px;
    width: 1200px;
    background: var(--background-filter);
    border-width: 10px;
    border-style: none;
    border-color: transparent;
    border-radius: 30px;
    
}

.arrowCta {
    display: block;
    height: 13px;
    width: 13px;
    border: 11px solid transparent;
    transform: rotate(45deg); /*225*/
    position: relative;
    margin: 10px 5px ;
    transition: 2s;
    cursor: pointer;
  }
  
  .arrowCta:after,
  .arrowCta:before {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .arrowCta:after {
    border-bottom: 3px solid var(--preto);
    border-right: 3px solid var(--preto);
    top: 0;
    left: 0;
    opacity: 1;
    animation: bottom-arrow 1.65s infinite;
  }
  
  @keyframes bottom-arrow {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    45% {
      opacity: 0;
      transform: translate(12px, 12px);
    }
    46% {
      opacity: 0;
      transform: translate(-16px, -16px);
    }
    90% {
      opacity: 1;
      transform: translate(-6px, -6px);
    }
    100% {
      opacity: 1;
      transform: translate(-6px, -6px);
    }
  }
  
  .arrowCta:before {
    top: 0;
    left: 0;
    border-bottom: 3px solid var(--preto);
    border-right: 3px solid var(--preto);
    animation: top-arrow 1.65s infinite;
  }
  
  @keyframes top-arrow {
    0% {
      transform: translate(-6px, -6px);
    }
    35% {
      transform: translate(0, 0);
    }
    90% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }


.containerShowMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.more_btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin-top: 2em;
  margin-left: 0.5em;
  
}

.more_dot {
    background-color: var(--preto);
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
    animation-name: bouncing;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.more_dot:hover {
  background-color: var(--preto-escuro);
}

@keyframes bouncing {
  0% {
    transform: none;
  }
  
  33% {
    transform: translateY(-.5em);
  }
  
  66% {
    transform: none;
  }
}

.more_dot:nth-child(2) {
  animation-delay: 125ms
}

.more_dot:nth-child(3) {
  animation-delay: 250ms;
}



.progress_wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress_wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress_wrap::after {
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--grey);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress_wrap:hover::after {
	opacity: 0;
}
.progress_wrap::before {
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress_wrap:hover::before {
	opacity: 1;
}
.progress_wrap svg path { 
	fill: none; 
}
.progress_wrap svg.progress-circle path {
	stroke: var(--grey);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}